# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# ML artifacts
catboost_info/
*.cbm
*.pkl
*.joblib
*.model
*.h5

# Generated outputs
submission.csv
